%h1 People who are reported
- @bads.each do |bad|
  .callout
    Username =
    = bad.user
    %br/
    Why =
    = bad.what
    %br/
    = time_ago_in_words(bad.created_at)
    ago
    %br/
    = link_to 'Destroy', bad, method: :delete, data: { confirm: 'Are you sure?' }
