- if message.persisted?
  .callout
    .grid-x
      .medium-9.cell
        Sent at:
        = time_ago_in_words(message.created_at)
        ago
    = message.user.username
    said:
    = message.body
