%h1 Tables
.grid-x
  .medium-4.cell
    %h3 User tables for everything
    = link_to "Users", admins_users_path, class: "button"
  .medium-4.cell
    %h3 Conversations on Lion Social
    = link_to "Conversations", admins_conversations_path, class: "button"
  .medium-4.cell
    %h3 Chat rooms for Lion Social
    = link_to "Chat Rooms", admins_rooms_path, class: "button"
