.backconvo {
  border-radius: 10px;
  display: block;
  background-color: yellow;
  color: red;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.send {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-right: 5%;
}
