%h4 You have been banned and cant
%ul
  %li Post any posts.
  %li Post any comments.
  %li Post any articles.
  %li Post any feedback.
  %li Send any chat.
%p If you think this is wrong click #{link_to 'here', new_acindent_path}
