.top-bar, .top-bar ul {
  background-color: wheat;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  border-color: #ff0000 transparent transparent;
}

.title-bar {
  padding: 0.5rem;
  background: #ed8547;
  color: #fefefe;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
