- @helps.each do |help|
  .callout
    The users email:
    = help.email
    %br/
    What the user need help with:
    = help.with
    %br/
    = link_to 'Delete', help_path(help), method: :delete, data: {confirm: "Did you help this user? If you did then continue."}, class: "button"
%br/
