%h1 Hi
%p Someone thinks that they were being baned was a miss under standing.
%p
  Go check it out at
  = @url
%p If you think that they should be unbanned do this.
%ul
  %li Step 1: Open a console
  %li Step 2: Run 'Heroku run rails c'
  %li Step 3: Run 'r = User.find_by_username('THERE USERNAME')'
  %li Step 4: Run 'r.update_attribute(:role , '')'
%p Thats it
%h4 Thanks, Lion Social
