%h3 Hey
%p A user has a new suggestion for us.
%p If you think that we should add it to Lion Socail then go ahead and do so.
%p If you think its really good then add that suggestion!!!
= @url
%p
  Thanks,
  Lion Socail
