body p {
    color: darkslategray;
    font-size: 16px;
}

html body {
    background-color: khaki;
    padding: 10px 0 10px 0
}

.online_status {
  color: red;
  transition: color 1s ease;
  &.online {
    color: green;
  }
}

h1, h2, h3, h4, h5, h6, a, p, s, body,  b{
  font-family: 'JosefinSans-VariableFont_wght';
}

.grid-x {
  @extend .grid-margin-x !optional;
}

a.button {
    background-color: yellow;
    color: red;
}

a {
    color: orangered;
}

a.button:hover {
    background-color: coral;
    color: red;
}

h1, h2{
    color: #FF6633;
}

input.button {
  background-color: yellow;
  color: orangered;
}

input.button:hover {
    background-color: coral;
    color: red;
}
input:visited {
    color: orange;
}

body h3, h4, b {
    color: chocolate;
}

body h5{
    color: brown;
}

a.hover {
    background-color: coral;
    color: red;
}

strong#following {
    color: orange;
}

strong#followers {
    color: orange;
}

span {
    color: chocolate;
}

img.small {
  height: 300px;
  width: 300px;
}

.small {
  height: 150px;
  width: 150px;
}

video.small {
  height: 200px;
  width: 200px;
}


.feed_photo {
  padding-top: 5px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  border-color: #ff0000 transparent transparent;
}

.codeblock {
  background-color: darkgray;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .content-desktop {
    display: none;
  }
}
