.callout {
    background-color: bisque;
    color: orangered;
    font-size: 14px;
    border-radius: 10px;
}

.user.username{
  size: 20px;
}

a.box {
    font-size: 18px;
}

a.dude {
    font-size: 14px;
}
