.callout
  = post.user.username
  %br/
  = post.content
  %br/
  = link_to 'Comments', post
  = link_to 'Destroy', post, method: :delete,
  data: { confirm: 'Are you sure? You do know this is not comeing back' } if current_user == post.user
  %br/
