body p {
    color: darkslategray;
    font-size: 16px;
}

html body {
    background-color: khaki;
    padding: 10px 0 10px 0
}

.grid-x {
  @extend .grid-margin-x !optional;
}

body h1 {
    color: darkslategray;
}

a.button {
    background-color: bisque;
}
a {
    color: orangered;
}

a:visited {
    color: orange;
}


a.button:hover {
    background-color: coral;
    color: red;
}

h1 {
    color: brown;
}

input.button {
  background-color: bisque;
}

input.button:hover {
    background-color: coral;
    color: red;
}
input:visited {
    color: orange;
}

body h3 {
    color: chocolate;
}

body h5{
    color: brown;
}
