%h3 Lion Socail
%p
  Hello #{@resource.username}!
%p We're contacting you to notify you that your password has been changed.
%p Were here to let you know #{@resource.username}. Your wellcome from Lion Socail
