%h3 Hi
%p We are sorry but someone reported a user.
%p When you find out who the user is and what they did by clicking this #{@url2}
%p If you don't think they devirve to be blocked from post stuff DON'T DO THESE SETPS
%ul
  %li Step 1: Go to you console.
  %li Step 2: In console type 'Heroku run rails c'
  %li Step 2 1/2: If you want run 'Hirb.enable' I suggest to do so.
  %li Step 3: In th console after heroku run conects to lion socail run "r = User.find_by_username('REPORTED USERNAME')"
  %li Step 4: Type in the console "r.update_attribute(:role , 'bad_user')"
  %li Step 5: Email 'charmandermaster07@gmail.com' To let me know that you did it and on the reported user.
  %li Step 6: Tell me who was reported.
  %li
    Step 7: Go back to the page and remove
    %b THAT USER THAT WAS REPORTED FROM THE LIST.
%p Thats it
%h4
  From
  %br/
  Lion Socail
