%h1 About Lion Social

%h3 What's new in version 14
%ul
  %li Added some style
  %li Gave a little better view
%h5 Thank you for using Lion Social ðŸ¦

%h5 Lion Social is not your everyday social media. You can see what everyone posts form every were. You experience what people all over the world are doing and what they do for a living. You also experience different cultures. And the best thing about it it's free and ad-free unlike Facebook, Instagram, and also Snapchat.

%h5 This is going to be better social media. Also if anyone is being rude on it I will remove them.

= image_tag("lion.jpg", class: "small")

%p Follow my Instagram click the image by the way.
=link_to image_tag('meinsta.jpg'), "https://www.instagram.com/leobestkidever/", :target => "_blank"
%h5  Version 14
