- if admin_signed_in?
  %h1 Users 'Admin View'
  .callout
    - @users = User.all
    - @users.each do |u|
      %br/
      = u.username
      %br/
      = u.email
      %br/
      = link_to "Delete",
        user_path(u),
        method: :delete,
        data: { confirm: "Really delete this user? What did they do." }
- else
  %h1 You dont have access to this
  = link_to 'Home', root_path
