%h1 Admin welcome

%p If you are here then I gave you the link to become admin
%p You can see every user and Kick,delete, them.

%p Also your user name should be Admin and a number
%p Password should be admins#
%p the # = your number

%p To see to kick people click View Users in the topbar

%p Also you cant post and you cant see the post. So if you want to see the posts and post make normal account.

%p Also dont mind The sign up button and the login button my go away in future updates

%h4 Also DON'T KICK PEOPLE UNLESS YOU SEE THEY POSTED SOMETHING INAPPROPRIATE
%h4 Or YOU WILL LOSE ADMIN ALL OF YOU
