%h1 Welcome to Lion Social

%h5 Please consider hitting the sign up button to get started.

= link_to "Sign Up/Log In", user_session_path, class: "button"
= image_tag("home_lion.jpg", class: "small")
