%h1 Welcome to Lion Social

%h5 Please comsider hiting the sign up buton to get started.

= link_to "Sign Up/Log In", user_session_path, class: "button"
%br/
- if admin_signed_in?
  = link_to "Admin Home Screen", admin_path, class: "button"
