%h1 All users
- @users = User.all
- @users.each do |u|
  .callout
    Username =
    = u.username
    %br/
    Email =
    = u.email
    %br/
    Bio =
    = u.body
    %br/
    Role =
    = u.role
    %br/
  %br
