%h1 Users View Admin
.callout
  - @users = User.all
  - @users.each do |u|
    = u.username
    %br/
    = u.email
    %br/
    = link_to "Delete", user_path(u), method: :delete, data: { confirm: "Really delete this user? What did they do." }
    %br/
    %br/
%h4 I suggest do not remove yourself you will lose Admin and have to sign back up
