%h1 How-to Guides
.callout
  %h5= link_to "Set up Ruby on Rails on Mac Os", howtos_rormacos_path
.callout
  %h5= link_to "Set up Ruby on Rails on Ubuntu using Homebrew", howtos_rorbrewubuntu_path
.callout
  %h5= link_to "Set up Ruby on Rails on Winodws Subsystem", howtos_rorwindowssub_path
