%h1 Set up Ruby on Rails on Ubuntu using Homebrew
%h3 Getting started
%h5 Before we can do anything we need to install the dependences for homebrew so run.
.codeblock
  %p sudo apt install git curl build-essential manpages-dev python fonts-powerline
%h5 Now that we have that set up its time to install Homebrew.
%h3 Installing Homebrew.
%h5 Now that we have everything ready to install homebrew lets do it.
.codeblock
  %p /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
  %p test -d ~/.linuxbrew && eval $(~/.linuxbrew/bin/brew shellenv)
  %p test -d /home/linuxbrew/.linuxbrew && eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
  %p test -r ~/.bash_profile && echo "eval \$($(brew --prefix)/bin/brew shellenv)" >>~/.bash_profile
  %p echo "eval \$($(brew --prefix)/bin/brew shellenv)" >>~/.profile
%h5 Now that is installed time to install dependences for ruby on rails.
%h3 Installing dependences
%h5 This will take a long time depending on your computer and your wifi.
.codeblock
  %p snap install --classic heroku
  %p snap install --classic atom
  %p brew install gcc
  %p brew install --HEAD universal-ctags/universal-ctags/universal-ctags
  %p brew install git
  %p brew install rcm
  %p brew install the_silver_searcher
  %p brew install tmux
  %p brew install watchman
  %p brew install zsh
  %p brew tap thoughtbot/formulae
  %p brew install parity
  %p brew install hub
  %p brew install imagemagick
  %p brew install yarn
  %p sudo apt-get update
  %p sudo sh -c "echo $(which zsh) >> /etc/shells" && chsh -s $(which zsh)
  %p sh -c "$(wget https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh -O -)"
  %p nano .zshrc
  %p *Change rubyrosell to agnoster.
%h5 Now that is done time to install rbenv.
%h3 Installing rbenv
.codeblock
  %p cd
  %p git clone https://github.com/rbenv/rbenv.git ~/.rbenv
  %p echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.zshrc
  %p echo 'eval "$(rbenv init -)"' >> ~/.zshrc
  %p echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bashrc
  %p echo 'eval "$(rbenv init -)"' >> ~/.bashrc
  %p exec $SHELL
  %p git clone https://github.com/rbenv/ruby-build.git ~/.rbenv/plugins/ruby-build
  %p echo 'export PATH="$HOME/.rbenv/plugins/ruby-build/bin:$PATH"' >> ~/.zshrc
  %p echo 'export PATH="$HOME/.rbenv/plugins/ruby-build/bin:$PATH"' >> ~/.bashrc
  %p exec $SHELL
  %p rbenv install 3.0.0
  %p rbenv global 3.0.0
  %p ruby -v
  %p gem install bundler
  %p gem install rails
%h3 Configuring Git
%h5 This part of installing Ruby on Rails requries a github account if you do not have a account #{link_to "click here", "https://github.com/", target: :_blank}.
%h5 To have Ubuntu know your github account run.
.codeblock
  %p git config --global color.ui true
  %p git config --global user.name "YOUR USERNAME"
  %p git config --global user.email "YOUR@EMAIL.com"
%h3 Done!
