%h1 Informational
.callout
  %h5= link_to "Alberto Sordi", infos_albertosordi_path
.callout
  %h5= link_to "Bob Gibson", infos_bobgibson_path
.callout
  %h5= link_to "Calabria Italy", infos_calabria_path
