.noprint
  %footer.footer
    %small
      %h3
        %a{:href => "https://lionsocial.herokuapp.com"} Lion Socail
        by The Lion
    %nav
      %ul
        %li= link_to "Report a Bad User", new_baduser_path
        %li= link_to "Report a Error", new_error_path
        %li= link_to "About", abouts_path
